.hr-color,
.hr-parent {
  margin-top: 0rem !important;
  margin-bottom: 2rem !important;
  border: 0 !important;
  border-top: 1px solid #4e4e4e !important;
}

.hr-parent {
  width: 96% !important;
}

.add-guardian,
.remove-guardian {
  display: flex;
  align-self: end;
}
.hand,.add-guardian-icon,
.remove-guardian-icon {
  cursor: pointer;
}
.parent-info{
  display: flex;
  flex-wrap: wrap;
}

.mx-datepicker {
  width: inherit!important;
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #8bc34a !important;
}
span.custom-checkbox {
  padding: 2rem !important;
}
.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #fff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #fff;
  background-color: #fff;
}

.modal-tall .modal-dialog {
  margin-right: 0!important;
}
 
.modal.fade.modal-tall .modal-dialog {
  transform: translate(125%, 0px);
}

.modal.show.modal-tall .modal-dialog {
  transform: none;
}

.zoom-link{
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid #4e4e4e59;
  border-radius: 5px;
}

.remove-border{
  border:unset!important;
  padding-left: 0px!important;
}
.remove-border:focus{
  border: unset!important;
  border-color: unset!important;
  outline: none!important;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%)!important;
}
.study-resource .input-file , .assignment .input-file{
  width: 85%!important;
}
.study-resource , .assignment{
  display: flex!important;
  flex-direction: column!important;
}
.cstm-btn{
  color: #fff!important;
    height: 27px!important;
    line-height: 13px!important;
    margin-left: 5px!important;
}

.logo{
  text-decoration:none!important;
}